
:root {
  --orange: #F35916;
  --grey: #A0A0A0;
  --less: #F57038;
  --bg: #4C4D4F;
  --articl: #3A3A3C;
}

body{
  font-family : 'helvetica', sans-serif ;
  background : var(--bg) ;
  color: var(--grey);
}

header{
  background : var(--bg) ;
  margin-bottom: 0.5%;
  margin-left: 5%;
  overflow: hidden;
  width: 95%;
  height: 10%;
  top: 0;
  color: var(--less);
  text-align: center;
}

.menu {
  margin: 0; 
  background: var(--orange);

  height: 100%;
  width: 5%;
  position: fixed;
  z-index: 1;
  bottom: 0%;
  left: 0;
  overflow-x: auto;
  padding-top: 5%;
  font-size: 1.25vw;
}

.menu a {
  text-decoration: none;
  display: block;
  padding: 1vw;
  color: black;
}

.menu a:hover {
  background: #A15F44;
}

.menu a.active {
  background: var(--articl);
}

.menu img{
  width: 100%;
  height: 100%;
}


footer{
    background : var(--articl) ;
    color: var(--grey) ;
    padding : 10px ;
    margin-top: 0.5% ;
    overflow: hidden;
    width: 95%;
    margin-left: 5%; /* Same as the width of the menu */
    font-size: 1vw;
}

h2{
  color: var(--less);
}



.source{
    font-size: 8pt ;
}

article{
  top: 59%;
  width: 95%;
  padding : 2vw ;
  display : inline-block ;
  overflow: hidden;
  vertical-align: top;
  background: var(--articl);
  margin-left: 5%; /* Same as the width of the menu */
  margin-top: 0%;
  text-align: justify ;
}


*{
  box-sizing: border-box;
}


.fig{
  display : block ;
  float:right;
  padding: 1%;
}

.fig img{
  width: 35vw;
}

#refhdp{
  margin: 1vw;
  float: right;
  color: var(--less);
}

a{
  color: var(--less);
}

.logo img{
  height: 3vw;
  float: right;
  padding: 0.5vw;
}

table{
  table-layout: auto;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  overflow: scroll;
  color: white;
  font-size: 1vw;
}
th, td {
  padding: 0.5vw;
  text-align: center;
}
.day th{
  font-size: 0.7vw;
}

.c1 td, .c3 td, .c5 td{
  background-color: var(--bg);
}

td.I1,td.I2,td.I3,td.I4,td.I5 {
  background-color: var(--orange);
}

td.dl{
  background-color: var(--grey);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: black;
  text-align: left;
}