
:root {
  --dpurple: #201335; 
  --iris: #4f4789;
	--peach: #ffb17a;
	--ivory: #fffded;
	--maize: #fce762;

  --black: #031936;
  --orange: #F35916;
  --grey: #A0A0A0;
  --blue: #1674F2;
  --less: #F57038;
  --text: #FAF8D4;
  --bg: #4C4D4F;
  --articl: #3A3A3C;
}

body{
  font-family : 'helvetica', sans-serif ;
  background : var(--bg) ;
  color: var(--grey);

}

header{
  background : var(--bg) ;
  margin-bottom: 0.5%;
  margin-left: 5%;
  overflow: hidden;
  /*position: fixed;*/
  width: 95%;
  height: 10%;
  top: 0;
  color: var(--less);
  text-align: center;

}

.menu {
  /*display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center ;
  align-content: flex-start;*/
  
  margin: 0; 
  background: var(--orange);

  height: 100%;
  width: 5%;
  position: fixed;
  z-index: 1;
  bottom: 0%;
  left: 0;
  overflow-x: auto;
  padding-top: 5%;
  font-size: 1.25vw;*/
}

.menu a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

.menu a:hover {
  background: #A15F44;
}

.menu a.active {
  background: var(--articl);
}

.menu img{
  width: 100%;
  height: 100%;
}


footer{
    background : var(--articl) ;
    color: var(--grey) ;
    padding : 10px ;
    margin-top: 0.5% ;
    overflow: hidden;
    width: 95%;
    margin-left: 5%; /* Same as the width of the menu */
}

h2{
  color: var(--less);
}



.source{
    font-size: 8pt ;
}

article{
  top: 59%;
    width: 95%;
    /*border: solid 1px #888888 ;*/
    padding : 10px ;
    /*margin : 0.5% ;*/
    display : inline-block ;
    overflow: hidden;
    vertical-align: top;

    background: var(--articl);

    margin-left: 5%; /* Same as the width of the menu */
    margin-top: 0%;
    text-align: justify ;
}


*{
    box-sizing: border-box;
}


.fig{
  display : block ;
    float:right;
    padding: 1%;
}

#refhdp{
  margin: 1%;
  float: right;
  color: var(--less);
}

a{
  color: var(--less);
}